# Python cache
__pycache__/

# Virtual environment
.venv/

# Environment variables
.env
.env.local
.env.prod

# VS Code
.vscode/

# PyCharm
.idea/

# Output files
data/output/

# Extracted images
data/images/

# Logs
*.log